/*MAIN*/
#container{
  width: auto;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
#logo{
  width: auto;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  
  display: flex;
}
#logo_img{
  position: relative;
  
  right: 680px;
}
#pod_logo{
  width: 120;
  height: 55;
  margin-right: 5px;
  margin-left: auto;
  text-align: right;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0px;
}
#social{
  background-color: #59b1ab;
  width: 20px;
  height: 20px;
  text-align: right;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
  a:link { color: #f9fafb; }
  a:visited { color: #f9fafb; }
}
#social:hover{
  cursor: pointer;
  
}
#welcome{
  padding-top: 0px;
  text-align: center;
  margin-top: 1px;
  margin-left: 380px;
  
  position: relative;

  left: 90px;
}
#buttons{
  display: flex;
  margin-top: 10px;
  width: auto;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
}
#button{
  
  line-height: 20px;
  margin-top: auto;
  background-color: #59b1ab;
  margin-bottom: auto;
  width: 60px;
  height: 25px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 7px;
  font-size: 14px;
  a:link { color: #f9fafb; }
  a:visited { color: #f9fafb; }
  transition: transform 0.4s ease, box-shadow 0.3s ease;
 
}
#button:hover{
  background-color: #9ce8e1;
  a:link { color: #000000; }
  a:visited { color: #000000; }
  transform: scale(1.1);

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
#content{
  margin-top: 10px;
  width: auto;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
  
}
/* BLOG*/
#pod_content_l{
  padding: none;
  margin-left: 50px;
  width: 500px;
  height: 120px;
  border-radius: 10px;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
}
#pod_content_l:hover{
  transform: scale(1.1);
  
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
 

}
#pod_content_r{
  margin-left: 700px;
  width: 500px;
  height: 120px;
  border-radius: 10px;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
}
#pod_content_r:hover{
  transform: scale(1.1);

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
#img_content{
  padding: none;
  width: 120px;
  height: 95px;
  position: relative;
  down: 10px;
  float: left;
  margin-right: 10px;
}
#text_content{
  display: flex;
  justify-content: flex-start;
  width: 320px;
  height: 95px;
  
}

/*DONAIONS*/
#content_d{
  float: left;
  width: 500px;
  height: 450px;
  margin-right: 56px;
  margin-left: 56px;
  position: relative;
  top: 15px;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
}
#content_d:hover{
  transform: scale(1.04);

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

#content_d_img{
  width: 477px;
  height: 120px;
}

#content_d_text{
  margin-top: 10px;
  width: 477px;
  height: 270px;
  font-size: 20px;
}
.bordered-div {
    border: 2px solid #000000; 
    padding: 10px; 
}







img{
  text-align: left;

}
body {
  text-align: center;
  font-family: 'Arial';
  background: #207474;
  color: #f9fafb;
}
h1{
  text-align: center;
  margin-top: 15px;
  font-size: 70px;
}

a{
  
  text-decoration: none;
}

