#container{
  width: 1024px;
  height: 768px;
  margin-right: auto;
  margin-left: auto;
}

img{
  width:200px
  
}
body {
  text-align: center;
  font-family: 'Arial';
  background: #207474;
  color: #f9fafb;
}
h1{
  text-align: center;
}

ul{
  text-align: left;
}