#container{
  width: auto;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}
#logo{
  width: auto;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  
  display: flex;
}
#logo_img{
  position: relative;
  
  right: 680px;
}
#pod_logo{
  width: 120;
  height: 55;
  margin-right: 5px;
  margin-left: auto;
  text-align: right;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0px;
}
#social{
  background-color: #59b1ab;
  width: 20px;
  height: 20px;
  text-align: right;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 10px;
}
#social:hover{
  cursor: pointer;
  
}
#welcome{
  padding-top: 0px;
  text-align: center;
  margin-top: 1px;
  margin-left: 380px;
  position: relative;

  left: 120px;
}
#buttons{
  display: flex;
  margin-top: 10px;
  width: auto;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
}
#button{
  line-height: 20px;
  margin-top: auto;
  background-color: #59b1ab;
  margin-bottom: auto;
  width: 60px;
  height: 25px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 7px;
  font-size: 14px;
}
#content{
  margin-top: 10px;
  width: auto;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
}
.bordered-div {
    border: 2px solid #000000; 
    padding: 10px; 
}







img{
  text-align: left;

}
body {
  text-align: center;
  font-family: 'Arial';
  background: #207474;
  color: #f9fafb;
}
h1{
  text-align: center;
  margin-top: 15px;
  font-size: 70px;
}

